body {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

.s {
    &__main {
        display: flex;
        justify-content: center;

        width: 100%;
        height: 100%;

        padding: 150px 0 150px 0;

        &.drag-drop-occurring {
            cursor: default;
            cursor: grabbing;
        }
    }

    &__container-scroll {
        overflow: auto;
        width: 300px;
        height: 450px;
    }

    &__list {
        display: flex;
        flex-direction: column;

        border: 1px solid #dddddd;

        &--item {
            padding: 10px;

            border-bottom: 1px solid #dddddd;
            &:last-child {
                border: 0;
            }

            &:hover {
                cursor: pointer;
                cursor: grab;
                background-color: #a7d1c1;
            }

            &.placeholder {
                background-color: #a7d1c1;
            }

            &.mouseover {
                cursor: default;
                cursor: grabbing;
                background-color: #33614f;
                color: #ffffff;
            }

            .drag-drop-occurring & {
                cursor: default;
                cursor: grabbing;
            }
        }
    }

    &__ghost {
        position: fixed;
        top: 0;
        left: 0;

        box-sizing: border-box;
        padding: 6px;
        border: 4px solid #75b79e;
    }
}
